<div class="container-header">
  <div class="container-header__item">
    <h1>メモアプリ</h1>
  </div>
</div>
<form method="post" action="<%= @action_url %>">
  <div class="form-items">
    <div class="form-items__item">
      <input type="text" name="title" id="title" value="<%= @text_title %>">
    </div>
    <div class="form-items__item">
      <textarea name="content" id="content" cols="30" rows="10"><%= @text_content %></textarea>
    </div>
  </div>
  <div class="form-action">
    <input type="submit" value="<%= @submit_button_name %>">
  </div>
  <% if @contents %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
</form>
