<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>個別メモページ</title>
</head>
<body>
<header>
  <h1>メモアプリ</h1>
</header>
<main>
  <h2><%= html_escape(@contents[:title]) %></h2>
  <pre><%= html_escape(@contents[:content]) %></pre>
</main>
<form method="post">
  <button type="submit" name="_method" value="get" formaction="/memos/edit/<%= @contents[:id] %>">変更</button>
  <button type="submit" name="_method" value="delete" formaction="/memos/<%= @contents[:id] %>">削除</button>
</form>
</body>
</html>