<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>トップページ</title>
</head>
<body>
<header>
  <h1>メモアプリ</h1>
  <button onclick="location.href='/memos/new'">追加</button>
</header>
<main>
  <% if @contents.empty? %>
    <p>登録済みのメモはありません。</p>
  <% else %>
    <ol>
      <% @contents.each do |content| %>
        <li><a href="memos/<%= content[:id] %>"><%= html_escape(content[:title]) %></a></li>
      <% end %>
    </ol>
  <% end %>
</main>
</body>
</html>