<div class="container-header">
  <div class="container-header__item">
    <h1>メモアプリ</h1>
  </div>
  <div class="container-header__item">
    <button onclick="location.href='/memos/new'">追加</button>
  </div>
</div>
<div class="container-body">
  <% if @contents.ntuples.zero? %>
    <div class="container-body__item">
      <p>登録済みのメモはありません。</p>
    </div>
  <% else %>
    <div class="container-body__item">
      <ul>
        <% @contents.each do |content| %>
          <li><a href="memos/<%= content['id'] %>"><%= ERB::Util.html_escape(content['title']) %></a></li>
        <% end %>
      </ul>
  <% end %>
  </div>
</div>
