<div class="container-body">
  <div class="container-body__item">
    <h1>404 Not Found.</h1>
    <p>お探しのページは見つかりませんでした。</p>
  </div>
  <div class="container-body__item">
    <a href="/memos">トップへ戻る</a>
  </div>
</div>
