.container {
    margin: 0 auto;
    max-width: 600px;
    border: solid 1px #aaa;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.container-body {
    margin-bottom: 20px;
}

.container-body__item {
    padding: 5px 50px;
}

.container-header__item button,
.form-action input[type="submit"],
.form-action button {
    padding: 10px 40px;
    border: solid 1px #aaa;
    border-radius: 4px;
    cursor: pointer;
    outline-color: #9dbbff;
}
