.form-items__item {
    padding: 10px 50px;
}

.form-items__item input[type="text"],
.form-items__item textarea {
    width: 100%;
    padding: .5em;
    border: solid 1px #aaa;
    border-radius: 4px;
    outline-color: #9dbbff;
    vertical-align: middle;
}

.form-action {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
